.cell {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 2px;
    margin: 1px;
    border: 1px solid black;
    vertical-align: top;
}

.matrix {
    display: block;
    margin: 5px;
}

.WATER {
    background: deepskyblue;
}

.SHIP {
    background: green;
}

.HIT {
    background: red;
}

.SUNK {
    background: black;
}

.UNKNOWN {
    background: deepskyblue;
}

.MISS {
    background: lightyellow;
}